:root { 
--white_A700_7e:#ffffff7e; 
--black_900_b2:#000000b2; 
--gray_100_4c:#f3f3f34c; 
--red_900:#8c161d; 
--black_900_3f:#0000003f; 
--gray_50:#faf9f9; 
--gray_300_99:#e0e0e099; 
--gray_50_b2:#faf9f9b2; 
--green_A700:#02b31f; 
--black_900:#000000; 
--teal_700:#027e5b; 
--black_900_63:#00000063; 
--gray_200_01:#f0f0f0; 
--blue_gray_800:#353b50; 
--blue_gray_900:#312b2c; 
--red_A700_99:#b3020299; 
--red_A700:#b30202; 
--black_900_4c:#0000004c; 
--black_900_a2:#000000a2; 
--blue_gray_100:#d9d9d9; 
--gray_900_87:#012c2087; 
--gray_900:#012c20; 
--lime_900:#aa662b; 
--yellow_A700:#ffd800; 
--gray_200:#ececec; 
--gray_300:#e0dfde; 
--orange_100:#fcd3a1; 
--gray_50_a2:#faf9f9a2; 
--black_900_75:#00000075; 
--black_900_99:#00000099; 
--black_900_33:#00000033; 
--blue_gray_900_99:#312b2c99; 
--blue_gray_900_33:#312b2c33; 
--black_900_19:#00000019; 
--gray_200_99:#ececec99; 
--black_900_36:#00000036; 
--white_A700:#ffffff; 
}